# Chave para o BotGhost sancionar lutas via Webhook
BOT_API_KEY=hxh_secret_key_123

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID= # ID do Servidor Discord para checagem de cargos

# (Opcional) Conteúdo do arquivo JSON da conta de serviço do Firebase para acesso Admin
FIREBASE_SERVICE_ACCOUNT=
